<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="container col-xxl-8 px-4" bis_skin_checked="1">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
            <div class="col-10 col-sm-8 col-lg-6" bis_skin_checked="1">
            <img src="/images/IMG_6806.JPG" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6" bis_skin_checked="1">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Java Developer | Backend & Full-Stack Development</h1>
            <p class="lead">Hi, this is Emre. Result-driven Java developer with a strong foundation in software development, OOP and full stack web application design. Highly skilled in Java, Spring Framework and MySQL. Developed multiple portfolio projects and completed additional courses to enhance technical proficiency. Gained international perspective through Erasmus and Work & Travel programs. Committed to lifelong learning and excited to contribute to collaborative backend development teams.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
                <a href="https://www.linkedin.com/in/f-emre-gokyar/" type="button" class="btn btn-dark btn-lg px-4 me-md-2" target="_blank" >LinkedIn</a>
                <a href="mailto:fegokyar@gmail.com" type="button" class="btn btn-outline-secondary btn-lg px-4" target="_blank">Mail</a>
            </div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>